# http://www.alexa.com/topsites/countries;0/CN
# ...
# http://www.alexa.com/topsites/countries;19/CN

server=/baidu.com/{{ dnsmasq.cn_upstream_server }}
server=/qq.com/{{ dnsmasq.cn_upstream_server }}
server=/taobao.com/{{ dnsmasq.cn_upstream_server }}
server=/sina.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/weibo.com/{{ dnsmasq.cn_upstream_server }}
server=/hao123.com/{{ dnsmasq.cn_upstream_server }}
server=/tmall.com/{{ dnsmasq.cn_upstream_server }}
server=/360.cn/{{ dnsmasq.cn_upstream_server }}
server=/sohu.com/{{ dnsmasq.cn_upstream_server }}
server=/chinadaily.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/gmw.cn/{{ dnsmasq.cn_upstream_server }}
server=/jd.com/{{ dnsmasq.cn_upstream_server }}
server=/soso.com/{{ dnsmasq.cn_upstream_server }}
server=/xinhuanet.com/{{ dnsmasq.cn_upstream_server }}
server=/tianya.cn/{{ dnsmasq.cn_upstream_server }}
server=/cntv.cn/{{ dnsmasq.cn_upstream_server }}
#server=/google.com/{{ dnsmasq.cn_upstream_server }}
server=/youku.com/{{ dnsmasq.cn_upstream_server }}
server=/youth.cn/{{ dnsmasq.cn_upstream_server }}
server=/163.com/{{ dnsmasq.cn_upstream_server }}
#server=/google.com.hk/{{ dnsmasq.cn_upstream_server }}
server=/360.com/{{ dnsmasq.cn_upstream_server }}
server=/haosou.com/{{ dnsmasq.cn_upstream_server }}
server=/china.com/{{ dnsmasq.cn_upstream_server }}
server=/sogou.com/{{ dnsmasq.cn_upstream_server }}
server=/alipay.com/{{ dnsmasq.cn_upstream_server }}
server=/zhihu.com/{{ dnsmasq.cn_upstream_server }}
server=/amazon.cn/{{ dnsmasq.cn_upstream_server }}
server=/bilibili.com/{{ dnsmasq.cn_upstream_server }}
server=/china.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/tudou.com/{{ dnsmasq.cn_upstream_server }}
server=/so.com/{{ dnsmasq.cn_upstream_server }}
server=/cnzz.com/{{ dnsmasq.cn_upstream_server }}
server=/iqiyi.com/{{ dnsmasq.cn_upstream_server }}
server=/zol.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/douyu.com/{{ dnsmasq.cn_upstream_server }}
server=/ifeng.com/{{ dnsmasq.cn_upstream_server }}
server=/51.la/{{ dnsmasq.cn_upstream_server }}
server=/babytree.com/{{ dnsmasq.cn_upstream_server }}
server=/csdn.net/{{ dnsmasq.cn_upstream_server }}
server=/xywy.com/{{ dnsmasq.cn_upstream_server }}
#server=/bitauto.com/{{ dnsmasq.cn_upstream_server }}
server=/1688.com/{{ dnsmasq.cn_upstream_server }}
server=/huanqiu.com/{{ dnsmasq.cn_upstream_server }}
server=/caijing.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/1905.com/{{ dnsmasq.cn_upstream_server }}
server=/mama.cn/{{ dnsmasq.cn_upstream_server }}
server=/51yes.com/{{ dnsmasq.cn_upstream_server }}
server=/cnnic.cn/{{ dnsmasq.cn_upstream_server }}
server=/39.net/{{ dnsmasq.cn_upstream_server }}
server=/acfun.tv/{{ dnsmasq.cn_upstream_server }}
server=/alibaba.com/{{ dnsmasq.cn_upstream_server }}
server=/cnblogs.com/{{ dnsmasq.cn_upstream_server }}
server=/enet.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/youdao.com/{{ dnsmasq.cn_upstream_server }}
server=/baike.com/{{ dnsmasq.cn_upstream_server }}
server=/gamersky.com/{{ dnsmasq.cn_upstream_server }}
server=/17ok.com/{{ dnsmasq.cn_upstream_server }}
server=/chinaz.com/{{ dnsmasq.cn_upstream_server }}
server=/alicdn.com/{{ dnsmasq.cn_upstream_server }}
server=/sq.cn/{{ dnsmasq.cn_upstream_server }}
server=/k618.cn/{{ dnsmasq.cn_upstream_server }}
server=/xunlei.com/{{ dnsmasq.cn_upstream_server }}
server=/xcar.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/58.com/{{ dnsmasq.cn_upstream_server }}
server=/alexa.cn/{{ dnsmasq.cn_upstream_server }}
server=/lady8844.com/{{ dnsmasq.cn_upstream_server }}
server=/aliyun.com/{{ dnsmasq.cn_upstream_server }}
server=/123cha.com/{{ dnsmasq.cn_upstream_server }}
server=/4399.com/{{ dnsmasq.cn_upstream_server }}
server=/mi.com/{{ dnsmasq.cn_upstream_server }}
server=/ci123.com/{{ dnsmasq.cn_upstream_server }}
server=/chinaso.com/{{ dnsmasq.cn_upstream_server }}
server=/eastmoney.com/{{ dnsmasq.cn_upstream_server }}
server=/cnmo.com/{{ dnsmasq.cn_upstream_server }}
server=/panda.tv/{{ dnsmasq.cn_upstream_server }}
server=/jrj.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/familydoctor.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/huaban.com/{{ dnsmasq.cn_upstream_server }}
server=/aliexpress.com/{{ dnsmasq.cn_upstream_server }}
server=/kdnet.net/{{ dnsmasq.cn_upstream_server }}
server=/le.com/{{ dnsmasq.cn_upstream_server }}
server=/126.com/{{ dnsmasq.cn_upstream_server }}
server=/3dmgame.com/{{ dnsmasq.cn_upstream_server }}
server=/oschina.net/{{ dnsmasq.cn_upstream_server }}
server=/rednet.cn/{{ dnsmasq.cn_upstream_server }}
server=/360doc.com/{{ dnsmasq.cn_upstream_server }}
server=/suning.com/{{ dnsmasq.cn_upstream_server }}
server=/12306.cn/{{ dnsmasq.cn_upstream_server }}
server=/douban.com/{{ dnsmasq.cn_upstream_server }}
server=/51sole.com/{{ dnsmasq.cn_upstream_server }}
server=/dianping.com/{{ dnsmasq.cn_upstream_server }}
server=/zhaopin.com/{{ dnsmasq.cn_upstream_server }}
server=/duowan.com/{{ dnsmasq.cn_upstream_server }}
server=/yaolan.com/{{ dnsmasq.cn_upstream_server }}
server=/qingdaonews.com/{{ dnsmasq.cn_upstream_server }}
server=/etao.com/{{ dnsmasq.cn_upstream_server }}
server=/tgbus.com/{{ dnsmasq.cn_upstream_server }}
server=/docin.com/{{ dnsmasq.cn_upstream_server }}
server=/jb51.net/{{ dnsmasq.cn_upstream_server }}
server=/21cn.com/{{ dnsmasq.cn_upstream_server }}
server=/egou.com/{{ dnsmasq.cn_upstream_server }}
server=/ctrip.com/{{ dnsmasq.cn_upstream_server }}
server=/dangdang.com/{{ dnsmasq.cn_upstream_server }}
server=/fanli.com/{{ dnsmasq.cn_upstream_server }}
server=/duba.com/{{ dnsmasq.cn_upstream_server }}
server=/zhanqi.tv/{{ dnsmasq.cn_upstream_server }}
server=/workercn.cn/{{ dnsmasq.cn_upstream_server }}
server=/feng.com/{{ dnsmasq.cn_upstream_server }}
server=/southcn.com/{{ dnsmasq.cn_upstream_server }}
server=/hupu.com/{{ dnsmasq.cn_upstream_server }}
server=/mydrivers.com/{{ dnsmasq.cn_upstream_server }}
server=/niuche.com/{{ dnsmasq.cn_upstream_server }}
server=/17173.com/{{ dnsmasq.cn_upstream_server }}
server=/zimuzu.tv/{{ dnsmasq.cn_upstream_server }}
server=/fang.com/{{ dnsmasq.cn_upstream_server }}
server=/chekb.com/{{ dnsmasq.cn_upstream_server }}
server=/cnki.net/{{ dnsmasq.cn_upstream_server }}
server=/xiami.com/{{ dnsmasq.cn_upstream_server }}
server=/zhibo8.cc/{{ dnsmasq.cn_upstream_server }}
server=/takungpao.com/{{ dnsmasq.cn_upstream_server }}
server=/ngacn.cc/{{ dnsmasq.cn_upstream_server }}
#server=/ccb.com/{{ dnsmasq.cn_upstream_server }}
server=/cqnews.net/{{ dnsmasq.cn_upstream_server }}
server=/gongchang.com/{{ dnsmasq.cn_upstream_server }}
server=/cnbeta.com/{{ dnsmasq.cn_upstream_server }}
server=/ali213.net/{{ dnsmasq.cn_upstream_server }}
server=/bttiantang.com/{{ dnsmasq.cn_upstream_server }}
server=/yhd.com/{{ dnsmasq.cn_upstream_server }}
server=/toutiao.com/{{ dnsmasq.cn_upstream_server }}
server=/yiqifa.com/{{ dnsmasq.cn_upstream_server }}
server=/nipic.com/{{ dnsmasq.cn_upstream_server }}
server=/renren.com/{{ dnsmasq.cn_upstream_server }}
server=/51cto.com/{{ dnsmasq.cn_upstream_server }}
server=/jqw.com/{{ dnsmasq.cn_upstream_server }}
server=/mgtv.com/{{ dnsmasq.cn_upstream_server }}
server=/dytt8.net/{{ dnsmasq.cn_upstream_server }}
server=/hexun.com/{{ dnsmasq.cn_upstream_server }}
server=/cankaoxiaoxi.com/{{ dnsmasq.cn_upstream_server }}
server=/admaimai.com/{{ dnsmasq.cn_upstream_server }}
server=/178.com/{{ dnsmasq.cn_upstream_server }}
server=/doc88.com/{{ dnsmasq.cn_upstream_server }}
server=/chexun.com/{{ dnsmasq.cn_upstream_server }}
server=/ebay.com/{{ dnsmasq.cn_upstream_server }}
server=/w3school.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/10086.cn/{{ dnsmasq.cn_upstream_server }}
server=/baiducontent.com/{{ dnsmasq.cn_upstream_server }}
server=/2345.com/{{ dnsmasq.cn_upstream_server }}
server=/mp4ba.com/{{ dnsmasq.cn_upstream_server }}
server=/gome.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/p5w.net/{{ dnsmasq.cn_upstream_server }}
server=/alimama.com/{{ dnsmasq.cn_upstream_server }}
server=/baomihua.com/{{ dnsmasq.cn_upstream_server }}
server=/huya.com/{{ dnsmasq.cn_upstream_server }}
server=/meituan.com/{{ dnsmasq.cn_upstream_server }}
server=/ynet.com/{{ dnsmasq.cn_upstream_server }}
server=/cdstm.cn/{{ dnsmasq.cn_upstream_server }}
server=/ithome.com/{{ dnsmasq.cn_upstream_server }}
server=/meizu.com/{{ dnsmasq.cn_upstream_server }}
server=/58pic.com/{{ dnsmasq.cn_upstream_server }}
server=/cnr.cn/{{ dnsmasq.cn_upstream_server }}
server=/focus.cn/{{ dnsmasq.cn_upstream_server }}
server=/zcool.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/xiaomi.com/{{ dnsmasq.cn_upstream_server }}
server=/pinterest.com/{{ dnsmasq.cn_upstream_server }}
server=/51job.com/{{ dnsmasq.cn_upstream_server }}
server=/newsmth.net/{{ dnsmasq.cn_upstream_server }}
server=/52pk.com/{{ dnsmasq.cn_upstream_server }}
server=/mtime.com/{{ dnsmasq.cn_upstream_server }}
server=/jd.hk/{{ dnsmasq.cn_upstream_server }}
server=/iciba.com/{{ dnsmasq.cn_upstream_server }}
server=/chengdu.cn/{{ dnsmasq.cn_upstream_server }}
server=/07073.com/{{ dnsmasq.cn_upstream_server }}
server=/ku6.com/{{ dnsmasq.cn_upstream_server }}
server=/pps.tv/{{ dnsmasq.cn_upstream_server }}
server=/525j.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/sznews.com/{{ dnsmasq.cn_upstream_server }}
server=/miui.com/{{ dnsmasq.cn_upstream_server }}
server=/189.cn/{{ dnsmasq.cn_upstream_server }}
server=/pc6.com/{{ dnsmasq.cn_upstream_server }}
server=/gfan.com/{{ dnsmasq.cn_upstream_server }}
server=/ems.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/anjuke.com/{{ dnsmasq.cn_upstream_server }}
server=/fudan.edu.cn/{{ dnsmasq.cn_upstream_server }}
server=/xueqiu.com/{{ dnsmasq.cn_upstream_server }}
server=/dy2018.com/{{ dnsmasq.cn_upstream_server }}
server=/dxy.cn/{{ dnsmasq.cn_upstream_server }}
server=/boc.cn/{{ dnsmasq.cn_upstream_server }}
server=/icbc.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/cr173.com/{{ dnsmasq.cn_upstream_server }}
server=/smzdm.com/{{ dnsmasq.cn_upstream_server }}
server=/huawei.com/{{ dnsmasq.cn_upstream_server }}
server=/aizhan.com/{{ dnsmasq.cn_upstream_server }}
server=/kugou.com/{{ dnsmasq.cn_upstream_server }}
server=/qidian.com/{{ dnsmasq.cn_upstream_server }}
server=/tmall.hk/{{ dnsmasq.cn_upstream_server }}
server=/18183.com/{{ dnsmasq.cn_upstream_server }}
server=/cmbchina.com/{{ dnsmasq.cn_upstream_server }}
server=/guokr.com/{{ dnsmasq.cn_upstream_server }}
server=/jianshu.com/{{ dnsmasq.cn_upstream_server }}
server=/cn163.net/{{ dnsmasq.cn_upstream_server }}
server=/baimao.com/{{ dnsmasq.cn_upstream_server }}
server=/ccb.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/dbw.cn/{{ dnsmasq.cn_upstream_server }}
server=/lofter.com/{{ dnsmasq.cn_upstream_server }}
server=/ebrun.com/{{ dnsmasq.cn_upstream_server }}
server=/360kan.com/{{ dnsmasq.cn_upstream_server }}
server=/umeng.com/{{ dnsmasq.cn_upstream_server }}
server=/meishichina.com/{{ dnsmasq.cn_upstream_server }}
server=/jmw.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/viidii.info/{{ dnsmasq.cn_upstream_server }}
server=/lagou.com/{{ dnsmasq.cn_upstream_server }}
server=/pptv.com/{{ dnsmasq.cn_upstream_server }}
server=/cctv.com/{{ dnsmasq.cn_upstream_server }}
server=/nuomi.com/{{ dnsmasq.cn_upstream_server }}
server=/tuicool.com/{{ dnsmasq.cn_upstream_server }}
server=/vmall.com/{{ dnsmasq.cn_upstream_server }}
server=/weather.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/steampowered.com/{{ dnsmasq.cn_upstream_server }}
server=/atpanel.com/{{ dnsmasq.cn_upstream_server }}
server=/51auto.com/{{ dnsmasq.cn_upstream_server }}
server=/v2ex.com/{{ dnsmasq.cn_upstream_server }}
server=/taoche.com/{{ dnsmasq.cn_upstream_server }}
server=/house365.com/{{ dnsmasq.cn_upstream_server }}
server=/tower.im/{{ dnsmasq.cn_upstream_server }}
server=/a9vg.com/{{ dnsmasq.cn_upstream_server }}
server=/yxdown.com/{{ dnsmasq.cn_upstream_server }}
server=/alitrip.com/{{ dnsmasq.cn_upstream_server }}
server=/chinaunix.net/{{ dnsmasq.cn_upstream_server }}
server=/alibaba-inc.com/{{ dnsmasq.cn_upstream_server }}
server=/huihui.cn/{{ dnsmasq.cn_upstream_server }}
server=/battlenet.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/globaltimes.cn/{{ dnsmasq.cn_upstream_server }}
server=/chsi.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/10jqka.com.cn/{{ dnsmasq.cn_upstream_server }}
server=/kafan.cn/{{ dnsmasq.cn_upstream_server }}
server=/blizzard.cn/{{ dnsmasq.cn_upstream_server }}
server=/17k.com/{{ dnsmasq.cn_upstream_server }}
server=/liepin.com/{{ dnsmasq.cn_upstream_server }}
server=/pcbeta.com/{{ dnsmasq.cn_upstream_server }}
server=/skycn.com/{{ dnsmasq.cn_upstream_server }}
server=/7k7k.com/{{ dnsmasq.cn_upstream_server }}
server=/cnhubei.com/{{ dnsmasq.cn_upstream_server }}
server=/dmzj.com/{{ dnsmasq.cn_upstream_server }}
server=/dix3.com/{{ dnsmasq.cn_upstream_server }}
server=/jandan.net/{{ dnsmasq.cn_upstream_server }}
server=/36kr.com/{{ dnsmasq.cn_upstream_server }}
server=/sf-express.com/{{ dnsmasq.cn_upstream_server }}
server=/brtn.cn/{{ dnsmasq.cn_upstream_server }}
server=/onlinedown.net/{{ dnsmasq.cn_upstream_server }}
server=/quanjing.com/{{ dnsmasq.cn_upstream_server }}
server=/ttmeiju.com/{{ dnsmasq.cn_upstream_server }}
server=/115.com/{{ dnsmasq.cn_upstream_server }}
server=/365jia.cn/{{ dnsmasq.cn_upstream_server }}
server=/makepolo.com/{{ dnsmasq.cn_upstream_server }}
server=/nih.gov/{{ dnsmasq.cn_upstream_server }}
server=/10010.com/{{ dnsmasq.cn_upstream_server }}
server=/bzw315.com/{{ dnsmasq.cn_upstream_server }}
server=/xiamp4.com/{{ dnsmasq.cn_upstream_server }}
